@media screen and (min-width: 700px)
{
    .first-header + div
    {
        margin-top: 5%;
    }
}
@media screen and (max-width: 701px)
{
    .first-header + div
    {
        margin-top: 3.1%;
    }
}


body
{
    padding: 0 0;
    background-color: #f1f1f1;
    margin: 0;
}

footer
{
    padding: 0 0 !important;
    margin: 0 0 !important;
}

nav
{
    opacity: .9;
    position:fixed;
    top:0px;
    z-index: 20;
    min-height:64px;
}

.first-header
{
    position:relative;
    top: 55px;
    padding-bottom:54px;
}



.brand-logo
{
    padding-right:25px !important;
}

.header
{
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    text-align: center;
    vertical-align: middle;
    z-index: 10;
}

#portfolio
{
    background-color:#03a9f4;
}

#academics
{
    background-color:#4caf50;
}

#internship
{
    background-color:#ff5722;
}

#resume
{
    background-color:#fdd835;
}

#hobbies
{
    background-color:#673ab7;
}

#blog
{
    background-color:#d32f2f ;
}

#contact
{
    background-color:#616161;
}

.header > h1
{
    margin: auto auto;
    padding: 3.5% 0px;

}

.nav-wrapper
{
    padding: 0px 10px;
}

.section-content
{
    padding:20px 12% 10px 12%;
    box-shadow: 0 -8px 17px 0 rgba(0, 0, 0, .15) inset, 0 -6px 20px 0 rgba(0, 0, 0, 0.13) inset;
}

.white-engrave-alpha
{
    color: rgba(253, 253, 253, 0.85);
    text-shadow: 0 -2px 0px rgba(25,25,25,.5); /* 50% white from bottom */
}

.white-engrave
{
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 -2px 0px rgba(25,25,25,.5); /* 50% white from bottom */
}

.dark-engrave
{
    color: rgba(176, 176, 176, 0.85);
    text-shadow: 0 -2px 0px rgba(25,25,25,.5); /* 50% white from bottom */
}

#list-wrapper
{
    margin-bottom:0;
}

.nav-link
{
    font-size: 1.2em !important;
    margin: 0 5px;
}

content
{
    height:100%;
}

.img-blur
{
    background-image:url("../img/code-blur.png");
    background-repeat: no-repeat;
    width:100%;
    background-size: cover;
    padding-bottom:4%;
    position:relative;
    top: 64px;
    min-height:150px;
}

.blur-engrave
{
    margin:0;
    padding-top: 30px;
    font-weight: bold;
    text-shadow: -2px -2px 0px rgba(25,25,25,.5); /* 50% white from bottom */
    color: rgba(240,240,240,.8);
}

#resume-pdf
{
    width:100%;
}

#bradley-list
{
    margin: 0 10%;
}

#bradley-title
{
    display: inline;
}

.tab
{
    min-width: 100px !important;
}

.modal
{
    width: 90% !important;
}

.intern-content
{
    padding: 5px 30px !important;
}

.intern-position
{
    padding-bottom:0px !important;
}

.intern-dates
{
    padding-bottom:13px !important;
}

.bolder
{
    font-weight:bolder !important;
}

.bold
{
    font-weight:bold !important;
}

.card
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.note
{
    font-size: .7em;
    padding-top: 0 !important;
}